#logo-header{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px #efefef;
  }
  .logo-div{
    font-weight: 600;
    font-size: x-large;
    padding: 0 20px;
    /* background-color: whitesmoke; */
    &>img{
      background-color: #ffffff;
    }
  }
  .header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    max-width: 180px;
    width: 100%;
    margin-right: 20px;
    /* border: 1px solid; */
    padding: 5px 10px;
    &>div{
      cursor: pointer;
    }
  }