.batch-with-header{
    max-width: 100vw;
    min-width: 100px;
    width: 100%;
    /* border: 1px solid; */
}
#batch-main-wrapper{
    display: flex;
    width: 100%;
    /* border: 1px solid resd; */
}
#batch-inner-wrapper{
    width: 100%;
}
.batch-header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .batch-main-btns{
     display: flex;
     justify-content: space-between;
     align-items: center;
     column-gap: 20px;
     
 }
 .batch-add-btn{
     background-color:#212143;
     color: white;
     border-radius: 5px;
     padding: 5px 25px;
     
 }
 .fee-management{
    background-color:#ffffff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 5px 30px;
 }

 .all-batch-container{
     background-color: #F5F5F5;
     padding: 20px;
 }
 .form-container{
     padding: 40px;
     margin: 20px;
     border-radius: 10px;
 }

 .form-btns{
   display: flex;
     column-gap: 10px;
     padding: 20px;
 }
 .forwardarrow{
     background-color: #0A7E22;
     padding: 10px;
 }
 
 .backword{
     background-color:  #FFD6DB;
     padding: 10px;
 
 }
 
 #input_sec{
     border: 1px solid;
     padding: 15px;
     border-radius: 20px;
     width: 300px;
     padding: 10px;
 }
 .input-group{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    &>input{
        padding: 15px;
        border: 1px solid #c2c2c2;
        /* border-radius: 5px; */
        outline: none;
    }
 }
 .btn-search{
     background-color: #212143;
     padding: 5px 20px;
     color: white;
     border-radius: 4px;
 }

 .btn-cancel{
     padding: 5px 20px;
     color: grey;
     border: none;
     border-radius: 9px;
     color: black;
 }
 #form{
     background-color: white;
 }

 /* header table css */
 .all-batch-table-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
 }
 .all-batch-table-container table{
    width: 80%;
    margin: 20px 5px;
    padding: 20px;
    /* border: 1px solid grey; */
    border-radius: 10px;
    &>thead{
        background-color: #F5F5F5;
        &>tr>th{
            border-left: 1px solid #c9c9c9;
            padding: 10px;
        }
    }
 }